* {
  -webkit-margin-before  : 0px;
  -webkit-margin-end     : 0px;
  -webkit-margin-after   : 0px;
  -webkit-margin-start   : 0px;

  -moz-margin-before     : 0px;
  -moz-margin-end        : 0px;
  -moz-margin-after      : 0px;
  -moz-margin-start      : 0px;

  -webkit-padding-before : 0px;
  -webkit-padding-end    : 0px;
  -webkit-padding-after  : 0px;
  -webkit-padding-start  : 0px;

  -moz-padding-before    : 0px;
  -moz-padding-end       : 0px;
  -moz-padding-after     : 0px;
  -moz-padding-start     : 0px;
}

p,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin  : 0;
  padding : 0;
}

[type="text"],
[type="number"],
[type="email"],
[type="password"],
textarea,
select {
  -webkit-appearance    : none;
  -moz-appearance       : none;
  appearance            : none;

  -webkit-padding-end   : 0;
  -moz-padding-end      : 0;
  -webkit-padding-start : 0;
  -moz-padding-start    : 0;

  border-radius         : 0;
  font-size             : 16px;
  font-family           : $font-normal;
  font-weight           : 300;
  color                 : $color-text;
}