/* settings */

// font variables
$font-normal: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-logo: 'Itim', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// $font-header: 'Special Elite', $font-normal;

$font-icon: 'fontello';

// positiong variables
$golden-ratio: 61.803398875%;

// breakpoints
$breakpoint-x-sm : 320px;
$breakpoint-sm   : 460px;
$breakpoint-md   : 680px;
$breakpoint-lg   : 960px;
$breakpoint-x-lg : 1440px;

$font-base-size: 14px;

/* /settings */